ul li {
    list-style-type: georgian;
}


.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
  'h h'
  'n c';

    grid-template-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-gap: 10px;
}


.app-wrapper-content {
    grid-area: c;
    background-color: saddlebrown;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color:gray;
}

a:focus {
    color: white;
    text-decoration: none;
}


