.dialogs {
    display: grid;
    grid-template-rows:  1fr;
    grid-template-columns: 2fr 10fr;
    border: 1px solid black;
}

.dialogItems {
    padding: 10px;
    border: 5px solid slategray;
    display: flex;
    flex-direction: column;
}



/*.dialog {*/
/*    font-weight: normal;*/
/*    */
/*}*/
/*.active {*/
/*    font-weight: bold;*/
/*    color: hsl(240, 100%, 27%);*/
/*}*/


/*a.active {*/
/*    font-weight: bold;*/
/*    color: hsl(240, 100%, 27%);*/
/*}*/

.messages {
    padding: 10px;


}


.message {

}



.dialogWindow {
    background-color: white;
    width: 96.4%;
    height: 350px;
    padding: 15px;
    overflow: auto;
}

.dialogText {
    margin-top: 10px;
    width: 96.3%;
    height: 50px;
    outline: none;
    padding: 15px;
}

.postTextBtn {
    background-color: #091921;
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    outline: none;
    cursor: pointer;
}